<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">Home Decoration</a>
      </div>
      <div [ngSwitch]="menutype">
     <div class="collapse navbar-collapse" id="myNavbar" *ngSwitchCase="'guest'" >
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home</a></li>
        <li><a routerLink="aboutus">About Us</a></li>
        <li><a routerLink="viewfeedback"> View-Feedback</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="login"><span class="glyphicon glyphicon-user"></span>Login</a></li>
        <li><a routerLink="register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
        <li><a routerLink="adminlog"><span class="glyphicon glyphicon-user"></span> Admin Login</a></li>
      </ul>
    </div> 
    
    <div class="collapse navbar-collapse" id="myNavbar" *ngSwitchCase="'user'" >
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home</a></li>
        <li><a routerLink="aboutus">About Us</a></li>
        <li><a routerLink="feedback">Feedback</a></li>
        <li><a routerLink="template">Template</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
      </ul>
    </div> 
    <div class="collapse navbar-collapse" id="myNavbar" *ngSwitchCase="'admin'" >
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home</a></li>
        <li><a routerLink="aboutus">About Us</a></li>
        <li><a routerLink="viewfeedback">View Feedback</a></li>
        <li><a routerLink="viewregister">View Registerations</a></li>
        <li><a routerLink="managetemplate">Manage Templates</a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="alogout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
      </ul>
    </div> 
    </div>

    </div>
  </nav>